@media only screen and (max-width: 600px)
@media only screen and (max-width: 768px)
@media only screen and (max-width: 992px)



h1{ text-align:center; }
h3{text-align: center;
	
	font-size: .5em;
	font-weight:bold;

	}


.row {
	width : 100%;
	background: blue;
	margin 10px;
}

.menuTitle{

	float: right;

	border-color: black;
	border-width: 10px;
	width: 25%
	margin:0 0 10px 0px;
}

.meunTitle1{background-color: pink}
.meunTitle2{background-color: yellow}
.meunTitle3{background-color: green}

.col-lg-3 {

	
	border: 5px;
	border-color: red;
	margin: 5px;
	float:left;

}

.col-lg-1{

	width: 33%;
}

.col-lg-2{

	width: 66%;

}

.col-lg-3{

	width: 30%;
	background-color: gray;
}